<a href="https://colab.research.google.com/github/rmtu14/ATM-/blob/main/Financial%20DataAnalysis1Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=0d4b7d943ed02ee531e63bfa2820c4eadbb71b419b8b9dfe09c391b0f7d085af
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [5]:
from pyspark.sql import SparkSession

from pyspark import SparkContext, SparkConf
import pandas as pd

# starts Spark session:
spark = SparkSession.builder \
    .appName("Spark TaxCalc") \
    .getOrCreate()


# import financial data:
df = pd.read_csv('/content/Financial_Data.csv')
df.head(10)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,CANADA,Carretera,None,1618.5,3.0,20.0,32370.0,0.0,32370.0,16185.0,16185.0,41640.0,1.0,January,2014.0
1,Government,germany,Carretera,None,1321.0,3.0,20.0,26420.0,0.0,26420.0,13210.0,13210.0,41640.0,1.0,January,2014.0
2,Midmarkets,FRANCE,Carretera,None,2178.0,3.0,15.0,32670.0,NaN,32670.0,21780.0,10890.0,41791.0,6.0,June,2014.0
3,Midmarket,Germany,Carretera,None,888.0,3.0,15.0,13320.0,0.0,13320.0,8880.0,4440.0,41791.0,6.0,June,2014.0
4,Midmarket,Mexico,Carretera,None,2470.0,3.0,15.0,37050.0,0.0,37050.0,24700.0,12350.0,41791.0,6.0,June,2014.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Government,Germany,Carretera,None,1513.0,3.0,350.0,529550.0,0.0,529550.0,393380.0,136170.0,41974.0,12.0,December,2014.0
8,Midmarket,GERMANY,Montana,None,921.0,5.0,15.0,13815.0,0.0,13815.0,9210.0,4605.0,41699.0,3.0,March,2014.0
9,Channel Partners,Canada,Montana,None,2518.0,5.0,12.0,30216.0,NaN,30216.0,7554.0,22662.0,41791.0,6.0,June,2014.0

In [16]:
df.describe()

,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Year
count,704.000000,704.000000,704.000000,7.040000e+02,697.000000,7.040000e+02,704.000000,704.000000,704.000000,704.000000,704.000000
mean,1608.071023,96.678977,118.717330,1.834335e+05,13223.783702,1.703412e+05,145999.654830,24341.513153,41757.742898,7.894886,2013.750000
std,866.645211,108.755611,136.950795,2.547531e+05,22988.722657,2.373637e+05,204320.400008,42898.909023,147.243156,3.379762,0.433321
min,200.000000,3.000000,7.000000,1.799000e+03,0.000000,1.655080e+03,918.000000,-40617.500000,41518.000000,1.000000,2013.000000
25%,905.000000,5.000000,12.000000,1.739175e+04,823.200000,1.592800e+04,7485.000000,2881.780000,41632.250000,5.000000,2013.750000
50%,1542.500000,10.000000,20.000000,3.798000e+04,2661.750000,3.554020e+04,22506.250000,9242.600000,41760.000000,9.000000,2014.000000
75%,2229.125000,250.000000,300.000000,2.852250e+05,16086.000000,2.626181e+05,246812.500000,22719.750000,41890.500000,10.250000,2014.000000
max,4492.500000,260.000000,350.000000,1.207500e+06,149677.500000,1.159200e+06,950625.000000,262200.000000,41974.000000,12.000000,2014.000000

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Segment              704 non-null    object
 1   Country              704 non-null    object
 2   Product              704 non-null    object
 3   Discount Band        704 non-null    object
 4   Units Sold           704 non-null    float64
 5   Manufacturing Price  704 non-null    float64
 6   Sale Price           704 non-null    float64
 7   Gross Sales          704 non-null    float64
 8   Discounts            697 non-null    float64
 9   Sales                704 non-null    float64
 10  COGS                 704 non-null    float64
 11  Profit               704 non-null    float64
 12  Date                 704 non-null    float64
 13  Month Number         704 non-null    float64
 14  Month Name           704 non-null    object
 15  Year                 704 non-null    float64
dtypes: float64(11), object(5)
memory usage: 89.0+ KB

In [6]:
# create function to remove duplicates:
def df_no_duplicates(fun_df):
    return fun_df.drop_duplicates(subset='Country').sort_values(by='Country', ascending=True)

In [7]:
# clean data - change 'Country' clumn values to upper case, remove redundant spaces, shorten too long values
df['Country'] = df['Country'].str.upper()
df['Country'] = df['Country'].str.strip()
df['Country'] = df['Country'].str.replace(r'\s+', ' ', regex=True)
df['Country'] = df['Country'].replace('UNITED STATES OF AMERICA', 'USA')

In [9]:
# remove 'NaN' rows:
df_finData = df.dropna(how='all')

# create Spark DataFrame:
sdf_finData = spark.createDataFrame(df_finData)

# print schema
sdf_finData.printSchema()

root
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Discount Band: string (nullable = true)
 |-- Units Sold: double (nullable = true)
 |-- Manufacturing Price: double (nullable = true)
 |-- Sale Price: double (nullable = true)
 |-- Gross Sales: double (nullable = true)
 |-- Discounts: double (nullable = true)
 |-- Sales: double (nullable = true)
 |-- COGS: double (nullable = true)
 |-- Profit: double (nullable = true)
 |-- Date: double (nullable = true)
 |-- Month Number: double (nullable = true)
 |-- Month Name: string (nullable = true)
 |-- Year: double (nullable = true)

In [18]:
sdf_finData.show()

+----------------+-------+---------+-------------+----------+-------------------+----------+-----------+---------+--------+--------+--------+-------+------------+----------+------+
|         Segment|Country|  Product|Discount Band|Units Sold|Manufacturing Price|Sale Price|Gross Sales|Discounts|   Sales|    COGS|  Profit|   Date|Month Number|Month Name|  Year|
+----------------+-------+---------+-------------+----------+-------------------+----------+-----------+---------+--------+--------+--------+-------+------------+----------+------+
|      Government| CANADA|Carretera|         None|    1618.5|                3.0|      20.0|    32370.0|      0.0| 32370.0| 16185.0| 16185.0|41640.0|         1.0|   January|2014.0|
|      Government|GERMANY|Carretera|         None|    1321.0|                3.0|      20.0|    26420.0|      0.0| 26420.0| 13210.0| 13210.0|41640.0|         1.0|   January|2014.0|
|      Midmarkets| FRANCE|Carretera|         None|    2178.0|                3.0|      15.0|    32670.0|      NaN| 32670.0| 21780.0| 10890.0|41791.0|         6.0|      June|2014.0|
|       Midmarket|GERMANY|Carretera|         None|     888.0|                3.0|      15.0|    13320.0|      0.0| 13320.0|  8880.0|  4440.0|41791.0|         6.0|      June|2014.0|
|       Midmarket| MEXICO|Carretera|         None|    2470.0|                3.0|      15.0|    37050.0|      0.0| 37050.0| 24700.0| 12350.0|41791.0|         6.0|      June|2014.0|
|      Government|GERMANY|Carretera|         None|    1513.0|                3.0|     350.0|   529550.0|      0.0|529550.0|393380.0|136170.0|41974.0|        12.0|  December|2014.0|
|       Midmarket|GERMANY|  Montana|         None|     921.0|                5.0|      15.0|    13815.0|      0.0| 13815.0|  9210.0|  4605.0|41699.0|         3.0|     March|2014.0|
|Channel Partners| CANADA|  Montana|         None|    2518.0|                5.0|      12.0|    30216.0|      NaN| 30216.0|  7554.0| 22662.0|41791.0|         6.0|      June|2014.0|
|      Government| FRANCE|  Montana|         None|    1899.0|                5.0|      20.0|    37980.0|      0.0| 37980.0| 18990.0| 18990.0|41791.0|         6.0|      June|2014.0|
|Channel Partners|GERMANY|  Montana|         None|    1545.0|                5.0|      12.0|    18540.0|      NaN| 18540.0|  4635.0| 13905.0|41791.0|         6.0|      June|2014.0|
|       Midmarket| MEXICO|  Montana|         None|    2470.0|                5.0|      15.0|    37050.0|      NaN| 37050.0| 24700.0| 12350.0|41791.0|         6.0|      June|2014.0|
|      Enterprise| CANADA|  Montana|         None|    2665.5|                5.0|     125.0|   333187.5|      0.0|333187.5|319860.0| 13327.5|41821.0|         7.0|      July|2014.0|
|  Small Business| MEXICO|  Montana|         None|     958.0|                5.0|     300.0|   287400.0|      NaN|287400.0|239500.0| 47900.0|41852.0|         8.0|    August|2014.0|
|      Government|GERMANY|  Montana|         None|    2146.0|                5.0|       7.0|    15022.0|      0.0| 15022.0| 10730.0|  4292.0|41883.0|         9.0| September|2014.0|
|      Enterprise| CANADA|  Montana|         None|     345.0|                5.0|     125.0|    43125.0|      NaN| 43125.0| 41400.0|  1725.0|41548.0|        10.0|   October|2013.0|
|       Midmarket|    USA|  Montana|         None|     615.0|                5.0|      15.0|     9225.0|      0.0|  9225.0|  6150.0|  3075.0|41974.0|        12.0|  December|2014.0|
|      Government| CANADA|    Paseo|         None|     292.0|               10.0|      20.0|     5840.0|      0.0|  5840.0|  2920.0|  2920.0|41671.0|         2.0|  February|2014.0|
|       Midmarket| MEXICO|    Paseo|         None|     974.0|               10.0|      15.0|    14610.0|      NaN| 14610.0|  9740.0|  4870.0|41671.0|         2.0|  February|2014.0|
|Channel Partners| CANADA|    Paseo|         None|    2518.0|               10.0|      12.0|    30216.0|      0.0| 30216.0|  7554.0| 22662.0|41791.0|         6.0|      June|2014.0|
|      Government|GERMANY|    Paseo|         None|    1006.0|               10.0|     350.0|   352100.0|      0.0|352100.0|261560.0| 90540.0|41791.0|         6.0|      June|2014.0|
+----------------+-------+---------+-------------+----------+-------------------+----------+-----------+---------+--------+--------+--------+-------+------------+----------+------+
only showing top 20 rows

In [10]:
sdf_finData.head(5)

[Row(Segment='Government', Country='CANADA', Product='Carretera', Discount Band='None', Units Sold=1618.5, Manufacturing Price=3.0, Sale Price=20.0, Gross Sales=32370.0, Discounts=0.0, Sales=32370.0, COGS=16185.0, Profit=16185.0, Date=41640.0, Month Number=1.0, Month Name='January', Year=2014.0),
 Row(Segment='Government', Country='GERMANY', Product='Carretera', Discount Band='None', Units Sold=1321.0, Manufacturing Price=3.0, Sale Price=20.0, Gross Sales=26420.0, Discounts=0.0, Sales=26420.0, COGS=13210.0, Profit=13210.0, Date=41640.0, Month Number=1.0, Month Name='January', Year=2014.0),
 Row(Segment='Midmarkets', Country='FRANCE', Product='Carretera', Discount Band='None', Units Sold=2178.0, Manufacturing Price=3.0, Sale Price=15.0, Gross Sales=32670.0, Discounts=nan, Sales=32670.0, COGS=21780.0, Profit=10890.0, Date=41791.0, Month Number=6.0, Month Name='June', Year=2014.0),
 Row(Segment='Midmarket', Country='GERMANY', Product='Carretera', Discount Band='None', Units Sold=888.0, Manufacturing Price=3.0, Sale Price=15.0, Gross Sales=13320.0, Discounts=0.0, Sales=13320.0, COGS=8880.0, Profit=4440.0, Date=41791.0, Month Number=6.0, Month Name='June', Year=2014.0),
 Row(Segment='Midmarket', Country='MEXICO', Product='Carretera', Discount Band='None', Units Sold=2470.0, Manufacturing Price=3.0, Sale Price=15.0, Gross Sales=37050.0, Discounts=0.0, Sales=37050.0, COGS=24700.0, Profit=12350.0, Date=41791.0, Month Number=6.0, Month Name='June', Year=2014.0)]

In [12]:

spark.sql("SELECT Country, Sales FROM sdf_newFinData").show()

+-------+--------+
|Country|   Sales|
+-------+--------+
| CANADA| 32370.0|
|GERMANY| 26420.0|
| FRANCE| 32670.0|
|GERMANY| 13320.0|
| MEXICO| 37050.0|
|GERMANY|529550.0|
|GERMANY| 13815.0|
| CANADA| 30216.0|
| FRANCE| 37980.0|
|GERMANY| 18540.0|
| MEXICO| 37050.0|
| CANADA|333187.5|
| MEXICO|287400.0|
|GERMANY| 15022.0|
| CANADA| 43125.0|
|    USA|  9225.0|
| CANADA|  5840.0|
| MEXICO| 14610.0|
| CANADA| 30216.0|
|GERMANY|352100.0|
+-------+--------+
only showing top 20 rows

In [13]:
#Pandas User Defined Function
# import necessary libraries and create pandas_udf function - it is an example of vectorized operations in Pandas, leverages low-level C and Cython routines - makes code more efficient
from pyspark.sql.functions import pandas_udf
from pyspark.sql.types import FloatType
#This function, tax_calc, takes two Pandas Series (sales and country) as input and returns a new Pandas Series representing the calculated tax.
@pandas_udf(FloatType())
def tax_calc(sales: pd.Series, country: pd.Series) -> pd.Series:
    # Create a Series for tax rate based on country
    tax_rate = pd.Series(0.10, index=sales.index)  # Default tax rate
    tax_rate[country.str.upper() == 'CANADA'] = 0.20
    tax_rate[country.str.upper() == 'FRANCE'] = 0.25
    tax_rate[country.str.upper() == 'GERMANY'] = 0.30
    tax_rate[country.str.upper() == 'MEXICO'] = 0.45
    tax_rate[country.str.upper() == 'USA'] = 0.50

    # Disclaimer: tax rates are imaginary for demonstration purpose, any similarities to real world tax rates is purely coincidental

    # Calculate tax
    return sales * tax_rate

In [14]:
# Register the UDF
spark.udf.register("calculated_tax", tax_calc)

# in order to be able to use the UDF we need to create a register:
spark.udf.register("calculated_tax", tax_calc)

# run Spark SQL  using the UDF:
spark.sql("SELECT Country, FORMAT_NUMBER(Sales, 2) AS Sales, FORMAT_NUMBER(calculated_tax(Sales, Country), 2) as Tax \
            FROM sdf_newFinData").show()

+-------+----------+----------+
|Country|     Sales|       Tax|
+-------+----------+----------+
| CANADA| 32,370.00|  6,474.00|
|GERMANY| 26,420.00|  7,926.00|
| FRANCE| 32,670.00|  8,167.50|
|GERMANY| 13,320.00|  3,996.00|
| MEXICO| 37,050.00| 16,672.50|
|GERMANY|529,550.00|158,865.00|
|GERMANY| 13,815.00|  4,144.50|
| CANADA| 30,216.00|  6,043.20|
| FRANCE| 37,980.00|  9,495.00|
|GERMANY| 18,540.00|  5,562.00|
| MEXICO| 37,050.00| 16,672.50|
| CANADA|333,187.50| 66,637.50|
| MEXICO|287,400.00|129,330.00|
|GERMANY| 15,022.00|  4,506.60|
| CANADA| 43,125.00|  8,625.00|
|    USA|  9,225.00|  4,612.50|
| CANADA|  5,840.00|  1,168.00|
| MEXICO| 14,610.00|  6,574.50|
| CANADA| 30,216.00|  6,043.20|
|GERMANY|352,100.00|105,630.00|
+-------+----------+----------+
only showing top 20 rows

In [15]:
# run Spark SQL  using the UDF:
spark.sql("SELECT Country, FORMAT_NUMBER(Sales, 2) AS Sales, FORMAT_NUMBER(calculated_tax(Sales, Country), 2) as Tax \
            FROM sdf_newFinData").show()

+-------+----------+----------+
|Country|     Sales|       Tax|
+-------+----------+----------+
| CANADA| 32,370.00|  6,474.00|
|GERMANY| 26,420.00|  7,926.00|
| FRANCE| 32,670.00|  8,167.50|
|GERMANY| 13,320.00|  3,996.00|
| MEXICO| 37,050.00| 16,672.50|
|GERMANY|529,550.00|158,865.00|
|GERMANY| 13,815.00|  4,144.50|
| CANADA| 30,216.00|  6,043.20|
| FRANCE| 37,980.00|  9,495.00|
|GERMANY| 18,540.00|  5,562.00|
| MEXICO| 37,050.00| 16,672.50|
| CANADA|333,187.50| 66,637.50|
| MEXICO|287,400.00|129,330.00|
|GERMANY| 15,022.00|  4,506.60|
| CANADA| 43,125.00|  8,625.00|
|    USA|  9,225.00|  4,612.50|
| CANADA|  5,840.00|  1,168.00|
| MEXICO| 14,610.00|  6,574.50|
| CANADA| 30,216.00|  6,043.20|
|GERMANY|352,100.00|105,630.00|
+-------+----------+----------+
only showing top 20 rows